<!-- navbar.ejs -->

<nav class="navbar">

    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="/webusers">Web Users</a></li>
      <li class="navbar-item"><a href="/contacts">Contacts</a></li>
      <li class="navbar-item"><a href="/add-user">Add User</a></li>
      <li class="navbar-item"><a href="/add-contact">Contact</a></li>
      
    </ul>
  </nav>
  

